* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

:root {
    --light-color: #4888a6;
    --dark-color: #396e87;
    --second-color: #fff;
}

.logo .image img {
    width: 250px;
    height: 60px;
}

/* Global Style */
.bg-primary{
    background-color: var(--dark-color) !important;
}
img {
    width: 100%;
    object-fit: cover;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

button {
    border: none !important;
    outline: none !important;
}

.btn-primary {
    background-color: var(--dark-color);
    color: var(--second-color);
}

.cursorPointer {
    cursor: pointer;
}
.navbar-toggler:focus,.form-control:focus{
    box-shadow: none;
}
/* End Global Style */
.btn:hover {
    background-color: var(--light-color) !important;
}

/* Start Hero Section */

/* Why-us Section */
.content {
    background-color: var(--dark-color);
}

.moreBtn {
    background-color: var(--light-color) !important;
}

.icon i {
    color: var(--light-color);
}

/* .galleryImages{
    background-color: #efefef;
} */
/* Grid System */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

/* style Products Section */
.productInfo,
.card-image {
    cursor: pointer;
}

/* End style products Section */
/* Start Experience Section */
.num {
    background-color: var(--dark-color)
}

.exImage::after {
    content: '';
    position: absolute;
    right: -10px;
    top: -25px;
    bottom: -25px;
    z-index: -1;
    width: 60px;
    height: 100%+50px;
    background-color: var(--dark-color);
}
/* Footer */
footer{
    background-color: var(--dark-color);
}
@media (max-width:525px) {
    .hero .textContent {
        top: 30%;
    }
}